*
{
    margin: 0;
    padding: 0;
}
.container
{
    display: grid;
    gap: 20px;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.box1
{
    grid-area: 1/1/2/4;
    background-color: darkgoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    height: 100px;
}
.box2
{
    grid-area: 2/1/3/2;
    background-color: darkgoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    width: 120px;
}
.box3
{
    grid-area: 2/2/3/3;
    display: flex;
    justify-content: center;
}
.itag
{
    width: 850px;
    height: 570px;
}
.box4
{
    grid-area: 2/3/3/4;
    background-color: darkgoldenrod;
    display: flex;
    align-items: center;
}
.box4 img
{
    width: 100%;
    height: 500px;
}
.box5
{
    grid-area: 3/1/4/4;
    background-color: darkgoldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    height: 100px;
}
@media screen and (min-width:320px) and (max-width:480px) {
    .container
    {
        grid-template-rows: auto auto auto auto auto;
    }
    .box1{
        background-color: green;
    }
    .box2{
        background-color: green;
    }
    .box4{
        background-color: green;
    }
    .box5{
        background-color: green;

    }
    .itag
    {
        width: 200px;
        height: 500px;
    }
}